
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:Z9V4K590KU
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Z9V4K590KU:ERRORPAGEID
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
